:root {
  --background-color-1: #7c2127;
  --background-color-2: #4d4109;
  --background-color-3: #1d5421;
  --background-color-3: #205853;
  --background-color-4: #122646;
  --background-color-5: #45380fa8;
  --text-color-1: #f8f8f8a8;
  --text-color-2: #383535a8;
  --box-shadow-1: rgb(50 50 93 / 25%) 67px 171px 60px 117px inset, rgb(0 0 0 / 30%) 6px 19px 36px -18px inset
}

a {
  color: white;
  text-decoration: none;
}

.paginate_wrapper,
.items_container {
  display: flex;
  align-items: center;
}

.paginate_wrapper {
  /* height: 100%;*/
  width: 100%; 
  flex-direction: column;
  justify-content: center;
}

.items_container {
  justify-content: center;
  overflow: scroll;
  scroll-behavior: smooth;
  cursor: grab;
  box-shadow: var(--box-shadow-1);
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.items_container::-webkit-scrollbar {
  display: none;
}

.items_container.row_view {
  width: 96%;
  height: 200px;
  flex-direction: row;
}

.items_container.column_view {
  width: max-content;
  padding: 10px 30px;
  height: 400px;
  flex-direction: column;
}

.items_container .data_item {
  padding: 60px;
  min-width: 250px;
  text-align: center;
  background-color: var(--background-color-4);
  margin: 10px;
}

.items_container .dat_item_title {
  color: var(--text-color-1);
}

.items_container .data_item_details {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.items_container .data_item_date {
  color: var(--text-color-1);
}

.items_container .data_item_location {
  color: var(--text-color-1);
}

.paginate_wrapper .show_more_btn {
  padding: 10px 20px;
  color: var(--text-color-1);
  background-color: var(--background-color-2);
  margin: 20px;
  cursor: pointer;
  transition: .2s ease-in-out;
  z-index: 1;
}
.paginate_wrapper .show_more_btn.hidden {
  transform: translateY(2rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
  z-index: -1;
}
#pagination_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
}

.pagination_wrapper {
  display: flex;
  list-style: none;
}

.pagination_wrapper .pagination_item{
  padding: 10px;
  background-color: var(--background-color-5);
  margin: 0px 3px;
  cursor: pointer;
}
.pagination_wrapper .pagination_item:hover{
  box-shadow: var(--box-shadow-1);
}
.pagination_wrapper .pagination_item.active {
  background-color: var(--background-color-3);
}
.pagination_wrapper .pagination_item a.active {
  color: var(--text-color-2);
}
